[workspace]
members = [
  "faer-core",
  "faer-cholesky",
  "faer-lu",
  "faer-qr",
  "faer",
  "faer-bench",
]

[profile.dev]
opt-level = 3
debug = true
debug-assertions = true
overflow-checks = true
lto = false
panic = 'unwind'
incremental = true
codegen-units = 256
rpath = false
